<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>168227139444-tauqtd6afspjaii4r3kihneg8nj6ttu9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.168227139444-tauqtd6afspjaii4r3kihneg8nj6ttu9</string>
	<key>API_KEY</key>
	<string>AIzaSyA8MS84LzHWz_CZaXyKVj4bW5nYxxRd0jk</string>
	<key>GCM_SENDER_ID</key>
	<string>168227139444</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aveldanov.InstaMeAppNextGen</string>
	<key>PROJECT_ID</key>
	<string>instameappnextgen</string>
	<key>STORAGE_BUCKET</key>
	<string>instameappnextgen.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:168227139444:ios:7c239cfc4edf6e773dc621</string>
</dict>
</plist>